body{
	font-family: Century Gothic;
	text-align: justify;
}

.contenido{
	position: relative;
	margin: auto;
	width: 95%;
	height: 400px;
}

h1{
	font-size: 18pt;
}

h3{
	font-size: 14pt;
	color: blue;
}

p{
	font-size: 12pt;
	margin-left: 22px;
}

img{
	width: 50%;
	height: 450px;
}

.two{
	list-style: aquare inside;
}
